@{
    ViewData["Title"] = "Lista de médicos obtida da API";
}


<h1>@ViewData["Title"]</h1>
<br>
@{
    if(ViewBag.medicos != null)
    {
        @Html.Raw("<table class='table'>");
        @Html.Raw("<thead>");
        @Html.Raw("<th>ID</th>");
        @Html.Raw("<th>MÉDICO</th>");
        @Html.Raw("<th>ESPECIALIDADE</th>");
        @Html.Raw("</thead>");
        @Html.Raw("<tbody>");
            
                for (int i = 0; i < ViewBag.medicos.Count; i++)
                {
                    <tr>
                        <td>@ViewBag.medicos[i].Id</td>
                        <td>@ViewBag.medicos[i].Nome</td>
                        <td>@ViewBag.medicos[i].Especialidade</td>
                    </tr>
                }
        @Html.Raw("</tbody>");
        @Html.Raw("</table>");
    }
    else
    {
        <p>401 - Não autorizado! Acesso Expirado.</p>
    }
}
